header{
    height: 115vh;
    padding-top: 4rem;
    overflow: hidden;
    
}
.me {
background: linear-gradient(var(--color-primary), transparent); 
   width: 42rem;
   height: 25.5rem;
   position: absolute;
   left: calc(50% - 21rem);
   margin-top: 3rem;
   border-radius: 12rem 12rem 0 0;
   overflow: hidden;
   padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.me img{
    border-radius: 1rem;
    height: 280px;
    width: 450px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
h1, h5 {
    display: flex;
    justify-content: center;
}

/*=================== CTA ===============*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    
}

/*================== HeaderSocials =============*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 7rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
    
}



/*=============== Scrolldown ==============*/
.scroll__down {
    position: absolute;
    right: 9rem;
    bottom: 12rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*================= Media Queries  big tablet ====*/
@media screen and (max-width: 1024px) {
   
    
    .scroll__down{
        right: 2rem;
       
    }
    .me img {
        width: 280px;
    }
    .me {
        
        height: 25rem;
        width: 28rem;
        left: calc(50% - 14rem);
    }
}

/*================= Media Queries big tablet ====*/
@media screen and (max-width: 912px) {
   
    .scroll__down{
        right: 2rem;
        bottom: 59vh;
    }
    .header__socials {
        bottom: 55vh;
    }
    header {
        height: 68vh;
    }
   
}

/*================= Media Queries  smaller tablet ====*/
@media screen and (max-width: 768px) {
   
    .scroll__down{
        right: 2rem;
        bottom: 40vh;
    }
    .header__socials {
        bottom: 35vh;
    }
   
}

/*================= Media Queries  Big phones ====*/
@media screen and (max-width: 600px) {
   
    .header__socials,
    .scroll__down {
        display: none;
    }
    .me {
        bottom: 20vh
    }
    header {
        height: 90vh;
    }
    .me img{
        border-radius: 1rem;
        height: 180px;
        width: 180px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
   
}
@media screen and (max-width: 540px) {
    
    .header__socials,
    .scroll__down {
        display: none;
    }
    .me {
        width: 15rem;
        height: 15rem;
        left: calc(50% - 7.5rem);
    }
    .me {
        bottom: 11rem;
    }
    .me img{
        border-radius: 1rem;
        height: 180px;
        width: 180px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
    header {
        height: 90vh;
    }
}



/*================= Media Queries  Small phones ====*/
@media screen and (max-width: 375px) {
   
    .header__socials,
    .scroll__down {
        display: none;
    }
    .me {
        width: 15rem;
        height: 15rem;
        left: calc(50% - 7.5rem);
        top: 17rem;
    }
    
    .me img{
        border-radius: 1rem;
        height: 180px;
        width: 180px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
}

/*================= Media Queries  Small phones ====*/
@media screen and (max-width: 280px) {
    
    .header__socials,
    .scroll__down {
        display: none;
    }
    .me {
        width: 15rem;
        height: 15rem;
        left: calc(50% - 7.5rem);
    }
    .me {
        bottom: 1vh
    }
    .me img{
        border-radius: 1rem;
        height: 180px;
        width: 180px; 
        margin-left: auto;
        margin-right: auto;
        display: block;
        
    }
}

